<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <div class="dropdown me-3">
            <button class="btn btn-light dropdown-toggle" type="button" id="categoryMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Категории
            </button>
            <ul class="dropdown-menu animate-dropdown" aria-labelledby="categoryMenu">
                <li><a class="dropdown-item" href="#">Фрукты</a></li>
                <li><a class="dropdown-item" href="#">Молочные продукты</a></li>
                <li><a class="dropdown-item" href="#">Хлебобулочные изделия</a></li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">Свежий вкус</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Каталог</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Баннер -->
<div class="banner">
    <h1>Свежие продукты каждый день</h1>
</div>
